#industry {
  padding-top: 81px;
  margin: 0 auto;
  overflow: hidden;
}
#industry .lnb {
  position: absolute;
  width: 100%;
  height: 52px;
  background-color: #005bab;
}
#industry .lnb .inner {
  font-size: 16px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}
#industry .lnb .inner .home {
  position: relative;
  display: flex;
  width: 52px;
  height: 52px;
  overflow: hidden;
  text-indent: -999px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#industry .lnb .inner .home:before {
  text-indent: 0;
  font-size: 24px;
  color: #fff;
  font-family: "Material Icons";
  content: "home";
  display: inline-block;
  margin-left: 0;
}
#industry .lnb .inner .depth01,
#industry .lnb .inner .depth02 {
  font-size: 15px;
  position: relative;
  width: 240px;
}
#industry .lnb .inner .depth01 button,
#industry .lnb .inner .depth02 button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: left;
  border: none;
  background: none;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
}
#industry .lnb .inner .depth01.open ul,
#industry .lnb .inner .depth02.open ul {
  display: block;
}
#industry .lnb .inner .depth01 ul,
#industry .lnb .inner .depth02 ul {
  width: 100%;
  display: none;
  background-color: #fff;
  color: #444;
  top: 0px;
  left: 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #8a8b8d;
}
#industry .lnb .inner .depth01 ul li a,
#industry .lnb .inner .depth02 ul li a {
  display: block;
  height: 20px;
  padding: 15px 40px;
}
#industry .lnb .inner .depth01 ul li a:hover,
#industry .lnb .inner .depth02 ul li a:hover {
  background-color: #d2d3d4;
  color: #111;
}
#industry .lnb .inner .depth02 button {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#industry .subContainer {
  padding: 0 10px clamp(40px, 6vw, 100px);
  min-height: 700px;
}
#industry .subContainer .title {
  text-align: center;
  padding: 120px 0 50px;
}
#industry .subContainer .title h2 {
  font-size: 40px;
  font-weight: 500;
  color: #121212;
}
#industry .subContainer .tabArea {
  display: flex;
  justify-content: center;
  height: 52px;
  margin-bottom: 40px;
}
#industry .subContainer .tabArea ul {
  display: flex;
}
#industry .subContainer .tabArea ul li {
  width: 100%;
}
#industry .subContainer .tabArea ul li a {
  display: block;
  text-align: center;
  width: 298px;
  border: 1px solid #e0e0e0;
  color: 1px solid #e0e0e0;
  padding: 15px 0;
  font-size: 19px;
  font-weight: 400;
}
#industry .subContainer .tabArea ul li a.on {
  font-size: 19px;
  color: #f00;
  font-weight: 600;
  border: 1px solid #f00;
}
#industry .subContainer .tabArea ul li a:hover {
  background-color: #d2d3d4;
}
#industry .subContainer .contents {
  width: 1200px;
  margin: 0 auto;
}
#industry .subContainer .contents .txtBox {
  text-align: center;
  margin-bottom: 40px;
}
#industry .subContainer .contents .txtBox h3 {
  font-size: clamp(15px, 3.8vw, 22px);
  font-weight: 400;
  color: #111;
  margin-bottom: 20px;
  line-height: 1.5;
}
#industry .subContainer .contents .txtBox p {
  font-size: clamp(10px, 3vw, 15px);
  line-height: 1.6;
}
#industry .subContainer .contents .subVisual {
  max-width: 1200px;
}
#industry .subContainer .contents .subVisual .slideBox .sImg {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
  width: 100%;
}
#industry .subContainer .contents .subVisual .slideBox .sImg ul {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
#industry .subContainer .contents .subVisual .slideBox .sImg ul li a {
  pointer-events: none;
  user-select: none;
  color: transparent;
}
#industry .subContainer .contents .subVisual .slideBox .sImg ul li a img {
  box-sizing: border-box;
  width: 100%;
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 150px;
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination .swiper-pagination-bullet {
  user-select: none;
  width: 219px;
  height: 139px;
  color: transparent;
  opacity: 1;
  border-radius: 0;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination .swiper-pagination-bullet:nth-child(1) {
  background-image: url("../images/contents/architec01.png");
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination .swiper-pagination-bullet:nth-child(2) {
  background-image: url("../images/contents/architec02.png");
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination .swiper-pagination-bullet:nth-child(3) {
  background-image: url("../images/contents/architec03.png");
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination .swiper-pagination-bullet:nth-child(4) {
  background-image: url("../images/contents/architec04.png");
}
#industry .subContainer .contents .subVisual .slideBox .sImg .pagination .swiper-pagination-bullet:nth-child(5) {
  background-image: url("../images/contents/project.jpg");
}
#industry .subContainer .contents .subVisual .slideBox .sNav {
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
  width: 979px;
}
#industry .subContainer .contents .subVisual .slideBox .sNav .sList {
  overflow: hidden;
}
#industry .subContainer .contents .subVisual .slideBox .sNav .sList li {
  box-sizing: border-box;
  width: 100%;
  margin: 0 30px;
}
#industry .subContainer .contents .subVisual .slideBox .sNav .sList li a img {
  border: 1px solid #666;
  box-sizing: border-box;
  width: 219px;
  height: 139px;
}
#industry .subContainer .contents .subVisual .slideBox .navigation {
  position: relative;
  margin-top: 50px;
  display: flex;
  align-items: center;
  z-index: 10;
}
#industry .subContainer .contents .subVisual .slideBox .navigation .prev {
  position: absolute;
  top: -160px;
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  background: #fff;
}
#industry .subContainer .contents .subVisual .slideBox .navigation .prev.prev:before {
  font-family: "Material Icons";
  content: "chevron_left";
  display: inline-block;
  margin-left: 0;
  vertical-align: top;
  font-size: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#industry .subContainer .contents .subVisual .slideBox .navigation .next {
  position: absolute;
  top: -160px;
  right: 0;
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  background: #fff;
}
#industry .subContainer .contents .subVisual .slideBox .navigation .next.next:before {
  font-family: "Material Icons";
  content: "chevron_right";
  display: inline-block;
  margin-left: 0;
  vertical-align: top;
  font-size: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#industry .subContainer .contents .btn {
  text-align: center;
}
#industry .subContainer .contents .btn button {
  width: 160px;
  padding: 13px 0 15px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #f00;
  border: 1px solid #ed1c24;
}

#project {
  padding-top: 81px;
  margin: 0 auto;
  overflow: hidden;
}
#project .lnb {
  position: absolute;
  width: 100%;
  height: 52px;
  background-color: #005bab;
}
#project .lnb .inner {
  font-size: 16px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}
#project .lnb .inner .home {
  position: relative;
  display: flex;
  width: 52px;
  height: 52px;
  overflow: hidden;
  text-indent: -999px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#project .lnb .inner .home:before {
  text-indent: 0;
  font-size: 24px;
  color: #fff;
  font-family: "Material Icons";
  content: "home";
  display: inline-block;
  margin-left: 0;
}
#project .lnb .inner .depth01,
#project .lnb .inner .depth02 {
  font-size: 15px;
  position: relative;
  width: 240px;
}
#project .lnb .inner .depth01 button,
#project .lnb .inner .depth02 button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: left;
  border: none;
  background: none;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
}
#project .lnb .inner .depth01.open ul,
#project .lnb .inner .depth02.open ul {
  display: block;
}
#project .lnb .inner .depth01 ul,
#project .lnb .inner .depth02 ul {
  width: 100%;
  display: none;
  background-color: #fff;
  color: #444;
  top: 0px;
  left: 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #8a8b8d;
}
#project .lnb .inner .depth01 ul li a,
#project .lnb .inner .depth02 ul li a {
  display: block;
  height: 20px;
  padding: 15px 40px;
}
#project .lnb .inner .depth01 ul li a:hover,
#project .lnb .inner .depth02 ul li a:hover {
  background-color: #d2d3d4;
  color: #111;
}
#project .lnb .inner .depth02 button {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#project .subContainer {
  padding: 0 10px clamp(40px, 6vw, 100px);
  min-height: 700px;
}
#project .subContainer .title {
  text-align: center;
  padding: 120px 0 50px;
}
#project .subContainer .title h2 {
  font-size: 40px;
  font-weight: 500;
  color: #121212;
}
#project .subContainer .tabArea {
  display: flex;
  justify-content: center;
  height: 52px;
  margin-bottom: 40px;
}
#project .subContainer .tabArea ul {
  display: flex;
}
#project .subContainer .tabArea ul li {
  width: 100%;
}
#project .subContainer .tabArea ul li a {
  display: block;
  text-align: center;
  width: 298px;
  border: 1px solid #e0e0e0;
  color: 1px solid #e0e0e0;
  padding: 15px 0;
  font-size: 19px;
  font-weight: 400;
}
#project .subContainer .tabArea ul li a.on {
  font-size: 19px;
  color: #f00;
  font-weight: 600;
  border: 1px solid #f00;
}
#project .subContainer .tabArea ul li a:hover {
  background-color: #d2d3d4;
}
#project .subContainer .contents {
  width: 1200px;
  margin: 0 auto;
}
#project .subContainer .contents .txtBox {
  text-align: center;
  margin-bottom: 40px;
}
#project .subContainer .contents .txtBox .txtPro {
  font-size: clamp(22px, 5vw, 30px);
}
#project .subContainer .contents .txtBox h3 {
  font-size: clamp(15px, 3.8vw, 22px);
  font-weight: 400;
  color: #111;
  margin-bottom: 20px;
  line-height: 1.5;
}
#project .subContainer .contents .txtBox p {
  font-size: clamp(10px, 3vw, 15px);
  line-height: 1.6;
}
#project .subContainer .contents .slideBox .sImg {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
  width: 100%;
}
#project .subContainer .contents .slideBox .sImg ul {
  position: relative;
  display: flex;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}
#project .subContainer .contents .slideBox .sImg ul li a {
  pointer-events: none;
  user-select: none;
  color: transparent;
}
#project .subContainer .contents .slideBox .sImg ul li a img {
  box-sizing: border-box;
  width: 100%;
}
#project .subContainer .contents .slideBox .sImg .pagination {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 219px;
  margin: 0 auto;
  border: 1px solid #f00;
  height: clamp(8vw, 15vw, 140px);
  background-image: url("../images/contents/project.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-cursor: pointer;
}
#project .subContainer .contents .slideBox .sNav {
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
  width: 979px;
}
#project .subContainer .contents .slideBox .sNav .sList {
  overflow: hidden;
}
#project .subContainer .contents .slideBox .sNav .sList li {
  box-sizing: border-box;
  width: 100%;
  margin: 0 30px;
}
#project .subContainer .contents .slideBox .sNav .sList li a img {
  border: 1px solid #666;
  box-sizing: border-box;
  width: 219px;
  height: 139px;
}
#project .subContainer .contents .desc {
  display: flex;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #a7a9ac;
  border-bottom: 2px solid #58595b;
  margin-bottom: 65px;
}
#project .subContainer .contents .desc .descTitle {
  flex-basis: 20%;
  padding-left: 75px;
  vertical-align: middle;
}
#project .subContainer .contents .desc .descTitle p {
  font-size: clamp(16px, 4vw, 24px);
  position: relative;
  padding-left: 25px;
  font-weight: 500;
}
#project .subContainer .contents .desc .descTitle p:after {
  left: 0;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../images/contents/dot1.gif");
  background-repeat: no-repeat;
}
#project .subContainer .contents .desc .descList {
  justify-content: center;
  align-items: center;
  line-height: 2;
}
#project .subContainer .contents .desc .descList li {
  font-size: clamp(12px, 3vw, 16px);
  position: relative;
  padding-left: 12px;
}
#project .subContainer .contents .desc .descList li:after {
  content: "";
  top: 15px;
  position: absolute;
  left: 0;
  width: 4px;
  height: 2px;
  background-color: #666;
}
#project .subContainer .contents .board .boardTitle {
  text-align: center;
  padding-bottom: 40px;
}
#project .subContainer .contents .board .boardTitle h4 {
  font-size: clamp(24px, 5vw, 31px);
  color: #005bab;
  margin-bottom: 25px;
  font-weight: 500;
}
#project .subContainer .contents .board .boardTitle p {
  font-size: clamp(11px, 3vw, 19px);
  line-height: 1.3;
  color: #444;
}
#project .subContainer .contents .board .boardList {
  overflow: hidden;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#project .subContainer .contents .board .boardList li {
  list-style: none;
  flex-basis: 30%;
  border: 1px solid #d3d3d3;
}
#project .subContainer .contents .board .boardList li:hover {
  border: 1px solid #f00;
}
#project .subContainer .contents .board .boardList a {
  position: relative;
  margin-bottom: 25px;
  margin-left: clamp(9px, 2vw, 30px);
}
#project .subContainer .contents .board .boardList a .tit {
  border-top: 1px solid #d3d3d3;
  text-align: center;
  padding: clamp(6px, 3vw, 28px) 3px;
  font-size: clamp(11px, 3vw, 19px);
  line-height: 1.3;
}
#project .subContainer .contents .board .boardList a img {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  max-height: 60%;
}
#project .subContainer .contents .pageList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
#project .subContainer .contents .pageList a {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  display: flex;
  width: 32px;
  height: 32px;
  margin: 0 1px;
}
#project .subContainer .contents .pageList .first {
  border: 1.5px solid #ccc;
  color: #999;
}
#project .subContainer .contents .pageList .first:before {
  font-family: "Material Icons";
  content: "keyboard_double_arrow_left";
  display: inline-block;
  margin-left: 0;
  font-size: 18px;
}
#project .subContainer .contents .pageList .first:hover {
  border: 1px solid #000;
  background-color: #eee;
}
#project .subContainer .contents .pageList .prev {
  border: 1.5px solid #ccc;
  color: #999;
}
#project .subContainer .contents .pageList .prev:before {
  font-family: "Material Icons";
  content: "chevron_left";
  display: inline-block;
  margin-left: 0;
  font-size: 18px;
}
#project .subContainer .contents .pageList .prev:hover {
  border: 1px solid #000;
  background-color: #eee;
}
#project .subContainer .contents .pageList ul {
  display: flex;
  text-align: center;
  padding: 0 30px;
  font-size: 16px;
}
#project .subContainer .contents .pageList ul li:hover {
  text-decoration: underline;
}
#project .subContainer .contents .pageList .next {
  border: 1.5px solid #ccc;
  color: #999;
}
#project .subContainer .contents .pageList .next:before {
  font-family: "Material Icons";
  content: "chevron_right";
  display: inline-block;
  margin-left: 0;
  font-size: 18px;
}
#project .subContainer .contents .pageList .next:hover {
  border: 1px solid #000;
  background-color: #eee;
}
#project .subContainer .contents .pageList .last {
  border: 1.5px solid #ccc;
  color: #999;
}
#project .subContainer .contents .pageList .last:before {
  font-family: "Material Icons";
  content: "keyboard_double_arrow_right";
  display: inline-block;
  margin-left: 0;
  font-size: 18px;
}
#project .subContainer .contents .pageList .last:hover {
  border: 1px solid #000;
  background-color: #eee;
}

@media all and (min-width: 1201px) {
  #industry .lnb .inner .depth01:hover ul,
#industry .depth02:hover ul {
    display: block !important;
  }
  #industry .subContainer .contents .subVisual .slideBox .sImg {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  body {
    word-break: keep-all;
  }
  #industry,
#project {
    word-break: keep-all;
  }
  #industry .lnb .inner,
#project .lnb .inner {
    width: 100%;
  }
  #industry .lnb .inner .depth01,
#industry .lnb .inner .depth02,
#project .lnb .inner .depth01,
#project .lnb .inner .depth02 {
    width: 190px;
  }
  #industry .subContainer .title,
#project .subContainer .title {
    padding: clamp(80px, 15vw, 120px) 0 clamp(35px, 8vw, 50px);
  }
  #industry .subContainer .title h2,
#project .subContainer .title h2 {
    font-size: clamp(30px, 3vw, 40px);
  }
  #industry .subContainer .contents,
#project .subContainer .contents {
    width: 100%;
  }
  #industry .subContainer .contents .txtBox,
#project .subContainer .contents .txtBox {
    word-break: keep-all;
  }
  #industry .subContainer .contents .txtBox p,
#project .subContainer .contents .txtBox p {
    margin: 0px 20px;
    letter-spacing: -0.1em;
  }
}
@media all and (max-width: 1024px) {
  #industry .lnb,
#project .lnb {
    top: 60px;
  }
  #industry .subContainer .tabArea ul li a,
#project .subContainer .tabArea ul li a {
    width: clamp(180px, 22vw, 298px);
    font-size: 16px;
  }
  #industry .subContainer #industry .contents .btn,
#project .subContainer #industry .contents .btn {
    transform: translateY(-30px);
    transition: 1s ease-in-out;
  }
}
@media all and (max-width: 640px) {
  #industry .subContainer .contents .subVisual .slideBox .navigation .next {
    margin-top: 70px;
  }
  #industry .subContainer .contents .subVisual .slideBox .navigation .prev {
    margin-top: 70px;
  }
  #industry .subContainer .contents .btn {
    transform: translateY(-80px);
    transition: 0.8s ease-in-out;
  }
  #project .subContainer .contents .slideBox .sImg .pagination {
    border: none;
    width: 20%;
  }
  #project .subContainer .contents .desc {
    flex-direction: column;
  }
  #project .subContainer .contents .desc .descTitle {
    padding-left: 0;
    margin-bottom: 20px;
  }
}