body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 999;
  overflow: hidden;
  color: #000;
  transition: all 0.25s ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#header.on {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}
#header.on .depth02 {
  font-weight: 200;
  color: #fff;
}
#header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0px;
  background-color: #fff;
}
#header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 320px;
  top: 80px;
  background-color: rgba(0, 0, 0, 0.9);
}
#header .container {
  display: flex;
  justify-content: center;
  position: static;
}
#header .btnAll {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  display: none;
  z-index: 999;
  border: none;
  background-color: #666;
}
#header .btnAll span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  transition: all 0.25s ease-in-out;
}
#header .btnAll span:nth-child(1) {
  top: 24px;
}
#header .btnAll span:nth-child(2) {
  top: 39px;
}
#header .btnAll span:nth-child(3) {
  top: 54px;
}

#logo {
  position: absolute;
  left: 25px;
  top: 0;
  z-index: 3;
}
#logo a {
  display: flex;
  align-items: center;
  height: 80px;
}
#logo a img {
  height: 38px;
}

#gnb {
  position: relative;
  z-index: 999;
}
#gnb .list {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
#gnb .list > li .depth01 {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  padding: 0 45px;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}
#gnb .list > li .depth02 {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  margin: 20px;
  text-align: left;
}
#gnb .list > li .depth02 li {
  padding-left: 20px;
}
#gnb .list > li .depth02 li a {
  display: block;
}

#footer {
  background-color: #4e4e4e;
  height: 168px;
}
#footer .container {
  display: flex;
  margin: 0 auto;
  padding: 45px 0;
}
#footer .container .fLogo {
  display: flex;
  width: 122px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: bottom;
}
#footer .container .addressBox {
  display: inline-block;
  width: 1200px;
  margin: 0 auto;
  padding-left: 135px;
  color: #c3c3c3;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}
#footer .container .addressBox .copyright {
  color: #999;
}

@media all and (min-width: 1201px) {
  #header {
    width: 100%;
  }
  #header:after {
    display: none;
  }
  #header .container {
    width: auto;
  }
  #gnb .list li:hover .depth01 {
    color: #f00;
  }
  #gnb .list li:hover .depth01:before {
    transform: scaleX(1);
  }
  #gnb .list .depth02 {
    padding: 20px 0;
    text-align: center;
  }
  #gnb .list .depth02 li a {
    display: block;
    padding: 10px 0;
  }
  #gnb.open {
    right: 0;
  }
  .btnAll {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 100px;
    display: none;
    padding: 0;
  }
  .btnAll span {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 25px;
    transition: all 0.25s ease;
  }
  .btnAll span:nth-child(1) {
    top: 34px;
  }
  .btnAll span:nth-child(2) {
    top: 49px;
  }
  .btnAll span:nth-child(3) {
    top: 64px;
  }
}
@media all and (max-width: 1400px) {
  body {
    word-break: keep-all;
  }
  #header {
    width: 100%;
  }
  #gnb {
    margin-left: 100px;
  }
  #gnb .list > li .depth01 {
    padding: 0 30px;
  }
  #footer {
    height: auto;
  }
}
@media all and (max-width: 1200px) {
  .container {
    width: auto;
  }
  #header:after {
    display: none;
  }
  #header.on {
    background-color: transparent;
  }
  #header.open #gnb {
    z-index: 99;
    left: 0;
  }
  #header.open .btnAll span:nth-child(1) {
    top: 39px;
    transform: rotate(45deg);
  }
  #header.open .btnAll span:nth-child(2) {
    left: -100px;
    opacity: 0;
  }
  #header.open .btnAll span:nth-child(3) {
    top: 39px;
    transform: rotate(-45deg);
  }
  #header .btnAll {
    display: block;
  }
  #gnb {
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    color: #111;
    padding-top: 80px;
    transition: left 0.5s ease-in-out;
  }
  #gnb .list {
    flex-direction: column;
  }
  #gnb .list > li .depth01 {
    padding: 0 0 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  #gnb .list > li .depth01.store {
    color: #fff;
  }
  #gnb .list > li .depth01:before {
    display: none;
  }
  #gnb .list > li .depth02 {
    text-align: left;
    padding: 15px 0;
    background-color: #e6e6e6;
    display: none;
    color: #111;
  }
  #gnb .list > li .depth02 li a {
    position: relative;
    padding: 15px 0 15px 60px;
  }
  #gnb .list > li .depth02 li a:before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }
  #footer {
    flex-direction: column;
  }
  #footer .addressBox {
    margin-left: 0;
    margin-top: 30px;
  }
  #footer .addressBox address span {
    display: block;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 1024px) {
  #header {
    height: 60px;
  }
  #header:after {
    top: 59px;
  }
  #header .btnAll {
    width: 60px;
    height: 60px;
  }
  #header .btnAll span {
    width: 30px;
    left: 15px;
  }
  #header .btnAll span:nth-child(1) {
    top: 19px;
  }
  #header .btnAll span:nth-child(2) {
    top: 29px;
  }
  #header .btnAll span:nth-child(3) {
    top: 39px;
  }
  #header.open .btnAll span {
    width: 30px;
    left: 15px;
  }
  #header.open .btnAll span:nth-child(1) {
    top: 29px;
  }
  #header.open .btnAll span:nth-child(3) {
    top: 29px;
  }
  #logo a {
    height: 60px;
  }
  #gnb {
    padding-top: 60px;
  }
  #gnb .list > li .depth01 {
    height: 60px;
    padding: 0 0 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  #gnb .list > li .depth01.store {
    color: #fff;
  }
  #gnb .list > li .depth01:before {
    display: none;
  }
  #gnb .list > li .depth02 {
    text-align: left;
    padding: 15px 0;
    display: none;
  }
  #gnb .list > li .depth02 li a {
    position: relative;
    padding: 15px 0 15px 60px;
  }
  #gnb .list > li .depth02 li a:before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #666;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }
}
@media all and (max-width: 640px) {
  #logo {
    left: 20px;
  }
  #logo a img {
    height: 24px;
  }
  #header {
    width: 100%;
  }
  #gnb {
    padding-top: 100px;
  }
  #gnb .list {
    margin-left: 50px;
  }
  #gnb .list li .depth01 {
    font-size: 18px;
    padding-left: 10px;
  }
  #gnb .list li .depth02 li a {
    padding-left: 30px;
    font-size: 14px;
  }
  #gnb .list li .depth02 li a:before {
    left: 20px;
  }
  #notice .noticeWrap {
    flex-direction: column;
  }
  #notice .noticeWrap .noticeBox {
    width: 100%;
  }
  #notice .noticeWrap .noticeBox .boxWrap {
    margin-left: 16%;
  }
  #notice .noticeWrap .newsBox {
    width: 100%;
  }
  #notice .noticeWrap .newsBox .boxWrap {
    margin-left: 16%;
  }
  #footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  #footer .container .fLogo {
    height: 20%;
    margin-bottom: 20px;
  }
  #footer .container .addressBox {
    width: 100%;
    padding: 0;
  }
  #footer .container .addressBox .customer {
    font-size: 16px;
  }
  #footer .container .addressBox address {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.05em;
  }
  #footer .container .addressBox .copyright {
    font-size: 12px;
  }
}